<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<!-- Instruct Spring to perform declarative transaction management automatically on annotated classes. proxy-target-class="true" -->
	<tx:annotation-driven  mode="proxy" transaction-manager="transactionManager" />

	<context:property-placeholder location="classpath:spring/spring-template.properties" />
	
	<!-- ========================= DB DEFINITIONS ========================= -->
	<!-- Uses Apache Commons DBCP for connection pooling. See Commons DBCP documentation for the required JAR files. Alternatively you can use another connection pool 
		such as C3P0, similarly configured using Spring. -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="testOnBorrow" value="true" />
		<property name="validationQuery" value="SELECT 1" />
	</bean>

	<!-- Post-processor to perform exception translation on @Repository classes (from native exceptions such as JPA PersistenceExceptions to Spring's DataAccessException 
		hierarchy). -->
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<!-- JPA EntityManagerFactory -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="spring-template" />
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"></property>
		<!-- <property name="persistenceXmlLocation" value="classpath*:/META-INF/persistence.xml"></property> -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="${jpa.database}"></property>
				<property name="databasePlatform" value="${jpa.databasePlatform}"></property>
				<property name="showSql" value="${jpa.showSql}"></property>
				<property name="generateDdl" value="${jpa.generateDdl}"></property>
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<!-- meglio eventualmente attivare le statistiche HibernateJMX: http://raibledesigns.com/wiki/Wiki.jsp?page=HibernateJMX -->
				<!-- <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop> -->
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>

	<!-- Transaction manager for a single JPA EntityManagerFactory (alternative to JTA) -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Dozer <bean id="dozerMapper" class="org.dozer.DozerBeanMapper" scope="singleton"> <property name="mappingFiles"> <list> <value>META-INF/dozer-bean-mappings.xml</value> 
	</list> </property> </bean> -->
	
	<context:component-scan base-package="com.scalosoft.template" />
	
	<mvc:annotation-driven />
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
</beans>